
<h1> <%= @restaurant.name %> </h1>

  <%#= binding.pry %>

  <li> Wait Time: <%= @restaurant.average("wait_time") %> minutes </li>
  <li> Rating: <%= @restaurant.average("rating") %> </li>
  <li> Price: $<%= @restaurant.average("price") %> </li>

  <div class="comment">
    <% @restaurant.reviews.each do |review| %>
      <% unless (review.user.nil?) || (review.comment.nil?) || (review.comment.empty? )%>
        <li> Comment by <%= review.user.name %>: <%= review.comment %> </li>
      <% end %>
    <% end %>
  </div>

  <%= render 'reviews/form', {review: Review.new, restaurant: @restaurant} %>
  <ul>
    
</ul>
