
<h1> <%= @restaurant.name %> </h1>

<%= render 'reviews/form', {review: Review.new, restaurant: @restaurant} %>
<ul>
  <%#= binding.pry %>
  <% @restaurant.reviews.each do |review| %>
  <li> Comment: <%= review.comment %> </li>
  <li>Wait Time: <%= review.wait_time %> minutes </li>
  <li>Price: $ <%= review.price %> </li>
  <li>Rating: <%= review.rating %> </li>
  <% end %>
</ul>
