<h1> <%= @organization.name %> </h1>

<h5> Users in this Organization: </h5>
<ul>
<% @organization.users.each do |user| %>
 <li> <%= link_to user.name, user_path(user) %>
  <% if @organization.admins.include?(current_user.id) %>
   <%= link_to("remove user", remove_user_path(user, @organization), method: :delete) %>  </li>
   <% end  %>
 <% end  %>
</ul>
<br>
<h5> Restaurants in this Organization: </h5>
<p>Click <%= link_to "here", new_restaurant_path %> to add a Restaurant to this Organization</p>
<ul>
 <% @organization.restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end  %>
</ul>


<section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3><%= @organization.name %></h3>
                        <p class="lead">Does an org have a bio? If so it would definitely go here!</p>
                    </div>
                    <div class="col-md-6">
                        <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                        <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus.</p>
                    </div>
                </div>

            </div>
        </section>
     


