

                        <section class="ptb ptb-sm-80">
                            <div class="container text-center col-md-12">
                                    <div class="row">
                                                <div class="col-md-3 col-sm-4 mt-xs-30">
                                                    <%= render "plans/form", {plan: Plan.new } %>
                                                    <%= render "plans/all_plans", {plans: @plans} %>
                                                </div>
                                                <div class="col-md-9 mb-30">
                                                    <% @organization.restaurants.each do |restaurant| %>
                                                        <div class="Pricing-box highlight">
                                                            <div class="price-title spacing-box">
                                                                <h3> <%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
                                                            </div>
                                                            <hr />
                                                            <div class="pricing-features spacing-grid">
                                                              <ul>
                                                                <h4>Details</h4>
                                                                    <li>Location: <%= restaurant.location %></li>
                                                                    <li>Cuisine: <%= restaurant.cuisine.name %></li>
                                                                    <li>Average Wait Time: <%= restaurant.average("wait_time") %> minutes</li>
                                                                    <li>Average Rating: <%= restaurant.average("rating") %>/5 </li>
                                                                    <li>Average Price: $<%= restaurant.average("price") %> </li>
                                                                    <% restaurant.reviews.each do |review| %>
                                                                       <h4>Reviews</h4>
                                                                        <li>"<%= review.comment %>"</li>
                                                                    <% end %>
                                                              </ul>
                                                            </div>  
                                                        </div>
                                                    <% end  %>
                                                    <br>
                                                    <p>Click <%= link_to "here", new_restaurant_path %> to add a Restaurant to this Organization</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </section>
                      <!-- End Pricing Table Section -->
                    </div><!--END "col-md-9" SECTION -->
                </div>
            </div>
        </section>