<section class="ptb ptb-sm-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <%= image_tag @organization.logo.url(:large) %>
                        <h3><%= @organization.name %></h3>
                        <p class="lead"><%= @organization.location %></p>
                        <% if current_user.is_admin?(@organization) %>
                          <%= link_to "Edit Organization", edit_organization_path %>
                        <%end%>
                    </div>
                    <div class="col-md-6">
                        <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                        <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus.</p>
                    </div>
                </div>

            </div>
        </section>
     


<!-- Pricing Table Section -->

                        <section class="ptb-sm-80">
                            <div class="container text-center col-md-12">
                                <div class="row">
                                    <div class="col-md-4 mb-30">
                                        <div class="Pricing-box">
                                            <div class="price-title spacing-box">
                                                <h4>Users in this Organization</h4>
                                            </div>
                                            <hr />
                                            <div class="pricing-features spacing-grid">
                                                <ul>
                                                  <% @organization.users.each do |user| %>
                                                   <li> <%= link_to user.name, user_path(user) %>
                                                    <% if @organization.admins.include?(current_user.id) %>
                                                     <span class="remove_user"><%= link_to("remove user", remove_user_path(user, @organization), method: :delete) %></span>  </li>
                                                     <% end  %>
                                                   <% end  %>
                                                 </ul>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-30">
                                        <div class="Pricing-box highlight">
                                            <div class="price-title spacing-box">
                                                <h4>Restaurants</h4>
                                            </div>
                                            <hr />
                                            <div class="pricing-features spacing-grid">
                                              <ul>
                                                <% @organization.restaurants.each do |restaurant| %>
                                                  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
                                                <% end  %>
                                              </ul>
                                            </div>
                                              
                                            <p>Click <%= link_to "here", new_restaurant_path %> to add a Restaurant to this Organization</p>
                                        </div>
                                    </div>
                                       
                                           
                                        </div>
                                    </div>
                                   
                                </div>
                                </div>
                                </div>
                            </div>
                        </section>
                      <!-- End Pricing Table Section -->
                    </div><!--END "col-md-9" SECTION -->
                </div>

            </div>
        </section>