
                        <div class="sidebar-widget">
                          <div class="Pricing-box">
                            
                             <div class="price-title spacing-box">
                                <h4>Upcoming Plans</h4>
                              </div>
                            <hr>
                            <ul>
                              <%plans.each do |plan|%>
                              <li><span class="bold-text">Plan Name:</span> <%=plan.name%></li>
                              <li>You coming with?
                                <%= link_to "Join", join_plan_path(plan), remote: true, :id => "join-#{plan.id}", :class => "btn btn-md btn-black"%>
                                <%=link_to "Leave plan", leave_plan_path(plan), remote: true, :id => "leave-#{plan.id}", :class => "hide_this btn btn-md btn-black", :method => 'DELETE'  %><span id="plan-status-<%=plan.id%>"></span>
                              </li>
                              <li><span class="bold-text">When:</span><%= plan.time.strftime("%B %d at %I:%M %p")%></li>
                              <li><span class="bold-text">Where:</span><%= plan.restaurant.name %></li>
                              <li><span class="bold-text">Users:</span></li>
                                <ul id="plan-users-<%=plan.id%>">
                                  <% plan.users.each do |user| %>
                                    <li><%=user.name%></li>
                                  <%end%>
                                </ul>
                      
                                <%end%>
                                </ul>
                                  <div class="spacing-grid">
                                         <%plans.each do |plan|%>
                                          <%= link_to "Join", join_plan_path(plan), remote: true, :id => "join-#{plan.id}", :class => "btn btn-md btn-black"%>
                                                <a class="btn btn-md btn-black">Join Plan</a>
                                          <%end%>
                                            </div>
                          </div>
                          
                        </div>


    
                                           
                                            <hr />
                                            <div class="pricing-features spacing-grid">
                                              
                                            </div>
                                            <hr />
                                          
                                        </div>


