
                        <div class="sidebar-widget">
                          <div class="Pricing-box bottom-box highlight">
                            
                             <div class="price-title spacing-box">
                                <h4>Upcoming Plans</h4>
                              </div>
                            <hr>
                            <ul>
                              <%plans.each do |plan|%>
                                <li><span class="bold-text">Plan Name:</span> <%=plan.name%></li>
                                <li><span class="bold-text">When:</span><%= plan.time.strftime("%B %d at %I:%M %p")%></li>
                                <li><span class="bold-text">Where:</span><%= plan.restaurant.name %></li>

                              <li><span class="bold-text">Who's In?</span></li>
                                <ul id="plan-users-<%=plan.id%>">
                                  <%plan.users.each do |user| %>
                                      <li><%=user.name%></li>
                                </ul>
                                  <%end%>
                                <div class="spacing-grid">
                                    <div id="button-section-<%=plan.id%>">
                                     <%=render partial: 'plans/button',
                                        locals: {in_plan: plan.users.include?(current_user), plan: plan}%>
                                          
                                    </div>
                                                
                                          

                                </div>
                                 _________________
                              <% end %>
                     
                                
                                </ul>
                                  
                          </div>
                         </div> 
                  

