

$("#plan-status-<%=@plan.id%>").html('You are In!' );
$("#join-<%=@plan.id%>").hide();
$("#plan-users-<%=@plan.id%>").append('<li><%=current_user.name%></li>' );
//$("#leave-<%=@plan.id%>").removeClass("hide_this")
$("#leave-<%=@plan.id%>").show();

