$("#join-<%=@plan.id%>").replaceWith('You are In!' ).appendClass("joined");
$("#plan-users-<%=@plan.id%>").append('<li><%=current_user.name%></li>' );

$("#join-<%=@plan.id%>").html('You are In!' );
$("#plan-users-<%=@plan.id%>").append('<li><%=current_user.name%></li>' );
$("#leave-<%=@plan.id%>").removeClass("hide_this")
$("#leave-<%=@plan.id%>").show();
