<div class="links">
  <% if logged_in? %>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <%= link_to "My Organizations", sessions_path %>
    <%= link_to "Create New Organization", new_organization_path %>
    <%= link_to "Join Existing Organization", add_path %>
    <%= link_to "Make A New Plan", new_plan_path %>
    <%= link_to "Join A Plan", plans_path %>
    <%= link_to "Cuisines", types_path %>
  <%else%>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Sign In", login_path %>
  <%end%>
</div>
