<!DOCTYPE html>
<html>
<head>
  <!-- From Rails -->
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>

    <meta charset="utf-8" />
    <title>QuickByte</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="nileforest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon.png">




</head>

<body class="full-intro">

    <!-- Preloader -->
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidemenu -->
    <section class="side-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
        <a class="menu-close toggle-menu menu-right push-body"><i class="ion ion-android-close"></i></a>
        <h5 class="white">Sign In</h5>
        <div class="sign-in">
            <input class="input-sm form-full" type="email" aria-required="true" id="email" name="email" placeholder="Email" value="" />
            <input class="input-sm form-full" type="password" aria-required="true" id="password" name="password" placeholder="Password" value="" />
            <input type="submit" class="btn btn-md btn-color-b form-full" value="Sign In" />
            <a>New Customer?</a>
        </div>
        <ul>
            <li><a target="_blank" href="index.html">Main Demo Page</a></li>
            <li><a href="home.html">Home Default</a></li>
            <li><a href="portfolio-grid-2col.html">Portfolio</a></li>
            <li><a href="login-register.html">Login & Signup</a></li>
            <li><a href="faq-1.html">FAQ</a></li>
            <li><a href="about-1.html">About</a></li>
            <li><a href="service-1.html">Service</a></li>
            <li><a href="blog-grid-3col.html">Blog</a></li>
            <li><a href="404-error-1.html">404 Error</a></li>
            <li><a href="shop-checkout.html">Shopping Cart</a></li>
            <li><a href="contact-1.html">Contact Us</a></li>
        </ul>
    </section>
    <!--End Sidemenu -->

    <!-- Search menu Top -->
    <section class=" top-search-bar cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top">
        <div class="container">
            <div class="search-wraper">
                <input type="text" class="input-sm form-full" placeholder="Search..." name="search" />
                <a class="search-bar-icon"><i class="fa fa-search"></i></a>
                <a class="bar-close toggle-menu menu-top push-body"><i class="ion ion-android-close"></i></a>
            </div>
        </div>
    </section>
    <!--End Search menu Top -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- HEADER -->
        <header class="header">
            <div class="container">

                <!-- logo -->
                <div class="logo">
                    <a href="#">
                        <h1><%= link_to "QuickByte.", root_path %></h1>
                    </a>
                </div>
                <!--End logo-->

                <!-- Rightside Menu (Search, Cart, Bart icon) -->
                <div class="side-menu-btn">
                    <ul>
                        <!-- Avatar -->
                        <li class="">
                            <% if logged_in? %>
                              <%= image_tag current_user.avatar.url(:thumb) %>
                              <%= link_to current_user.name , edit_user_path(current_user), :class => "edit-user" %>
                            <%end%>
                        </li>
                        <!-- End Avatar Icon -->

                    </ul>
                </div>
                <!-- End Rightside Menu -->

                <!-- Navigation Menu -->
            <% if logged_in? %>
                <nav class='navigation'>
                    <ul>
                        <li>
                            <a href="#">Actions</a>
                            <!-- Nav Dropdown -->
                            <ul class="nav-dropdown">
                                <li>
                                    <%= link_to "Join Organization", add_path %>
                                </li>                                
                                <li>
                                    <%= link_to "Create Organization", new_organization_path %>
                                </li>
                                <li>
                                    <%= link_to "Make A New Plan", new_plan_path %>
                                </li>

                            </ul>
                            <!-- End Nav Dropdown -->
                        </li>


                        <li>
                            <%= link_to "Dashboard", dashboard_path %>
                        </li>
                        <li>
                            <%= link_to "Log Out", logout_path, method: :delete %>
                        </li>
                    </ul>
                </nav>
            <% end %>
                <!--End Navigation Menu -->

            </div>
        </header>
        <!-- END HEADER -->


        <!-- Blank Section -->

        <section class="ptb ptb-sm-80 container">
            <!-- Remove tags----(<br />) -->
            <%= yield %>
            <!-- Remove tags -->

        </section>
        <!-- End Blank Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

        <!-- FOOTER -->
        <footer class="footer pt-50">
            <div class="container">
                <div class="row mb-30">
                    <!-- Logo -->
                    <div class="col-md-3 col-sm-3 col-xs-12 mb-xs-30">
                        <a class="footer-logo" href="home.html">
                            <h2><%= link_to "QuickByte.", root_path %></h2>
                    </div>
                    <!-- Logo -->

                    <!-- Newsletter -->
                    <div class="col-md-4 col-sm-5 col-xs-12 mb-xs-30">
                        <div class="newsletter">
                       
                        </div>
                    </div>
                    <!-- End Newsletter -->

                    <!-- Social -->
                    <div class="col-md-3 col-md-offset-2 col-sm-4 col-xs-12">
                        <ul class="social">
                         
                        </ul>
                    </div>
                    <!-- End Social -->
                </div>
                <!--Footer Info -->
                <div class="row footer-info mb-60">
                    <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
                        <p class="mb-xs-0">QuickByte is a web app designed for lunchtime discovery and collaboration.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0">
                        <ul class="link">
                            <li><%= link_to "My Organizations", organizations_path %></li>
                            <li><%= link_to "All Plans", plans_path %></li>
                            <li><%= link_to "My Coworkers", users_path %></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
                        <ul class="link">
                            <li><%= link_to "My Info", users_path %></li>
                            <li><%= link_to "My Public Bio ", organizations_path %></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <p>The Flatiron School, 
                        11 Broadway, 
                        NY, NY 10004</p>
                        <ul class="link-small">
                            <li><a href="github.com/littlejeon/quick_byte"><i class="fa fa-github"></i>  Check Out Our Code Ya'll</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Footer Info -->
            </div>

            <hr />

            <!-- Copyright Bar -->
            <section class="copyright ptb-60">
                <div class="container">
                    <p class="">
                        © 2016 <a><b>QuickByte</b></a>. All Rights Reserved.
                        Made with <i class="fa fa-heart"></i> at the Flatiron School.  
                        <br />
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->
   

</body>
</html>
